<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11733718181-l8m29o6v1h91i3pu2b6jnigq1nggdnvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11733718181-l8m29o6v1h91i3pu2b6jnigq1nggdnvu</string>
	<key>API_KEY</key>
	<string>AIzaSyDNicfDQCLnq-wcNX8CAxyWVVJB4vvTaSM</string>
	<key>GCM_SENDER_ID</key>
	<string>11733718181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dondock.billbuddy</string>
	<key>PROJECT_ID</key>
	<string>billbuddy-6de01</string>
	<key>STORAGE_BUCKET</key>
	<string>billbuddy-6de01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11733718181:ios:6e4b85bc3d3e00d185e94c</string>
	<key>DATABASE_URL</key>
	<string>https://billbuddy-6de01-default-rtdb.firebaseio.com</string>
</dict>
</plist>